* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font: inherit; }

ul li {
  list-style: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-fix {
  clear: both; }

.display-block {
  display: block; }

.display-none {
  display: none; }

.schedule-section {
  width: 100%;
  font-family: "Century Gothic"; }
  .schedule-section .schedule-img-wrapper {
    width: 60%;
    margin: 0 auto; }
    .schedule-section .schedule-img-wrapper img {
      width: 100%;
      height: auto; }
    @media screen and (max-width: 767px) {
      .schedule-section .schedule-img-wrapper {
        width: 80%; } }

.schedule-header {
  height: 100px;
  text-align: center;
  padding: 25px 0px;
  font-size: 18px;
  color: #794383; }

.schedule-details {
  width: 100%;
  margin-top: -8px;
  background: #794383;
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff; }
  @media screen and (max-width: 767px) {
    .schedule-details {
      margin-top: 30px; } }
  .schedule-details .schedule-tile-wrapper {
    position: absolute;
    right: 0px;
    top: -55px; }
    @media screen and (max-width: 767px) {
      .schedule-details .schedule-tile-wrapper {
        top: -45px; } }
    .schedule-details .schedule-tile-wrapper button {
      width: 100px;
      height: 55px;
      border: 0px;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer; }
      @media screen and (max-width: 767px) {
        .schedule-details .schedule-tile-wrapper button {
          width: 75px;
          height: 45px; } }
      .schedule-details .schedule-tile-wrapper button:focus {
        outline: none; }
  .schedule-details .schedule-wrapper {
    list-style-type: none; }
    .schedule-details .schedule-wrapper .schedule-list-item-wrapper {
      border-bottom: 1px solid #ffffff; }
      .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child {
        padding: 25px 0px 25px 35px; }
        @media screen and (max-width: 767px) {
          .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child {
            padding: 10px 0px 10px 15px; } }
        .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h1 {
          font-size: 18px; }
          @media screen and (max-width: 767px) {
            .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h1 {
              font-size: 16px; } }
        .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h2 {
          margin-top: 5px;
          font-size: 16px;
          font-weight: 400; }
          @media screen and (max-width: 767px) {
            .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h2 {
              font-size: 14px; } }
      .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table {
        display: table;
        font-size: 14px;
        padding: 10px 0px; }
        @media screen and (max-width: 767px) {
          .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table {
            font-size: 12px; } }
        .schedule-details .schedul* {
          margin: 0px;
          padding: 0px;
          box-sizing: border-box; }
        
        .float-left {
          float: left; }
        
        .float-right {
          float: right; }
        
        .clear-fix {
          clear: both; }
        
        .schedule-section {
          width: 100%;
          font-family: "Century Gothic"; }
          .schedule-section .schedule-img-wrapper {
            width: 60%;
            margin: 0 auto; }
            .schedule-section .schedule-img-wrapper img {
              width: 100%;
              height: auto; }
            @media screen and (max-width: 767px) {
              .schedule-section .schedule-img-wrapper {
                width: 80%; } }
        
        .schedule-header {
          height: 100px;
          text-align: center;
          padding: 25px 0px;
          font-size: 18px;
          color: #794383; }
        
        .schedule-details {
          width: 100%;
          margin-top: 60px;
          background: #794383;
          position: relative;
          font-family: "Roboto Condensed", sans-serif;
          color: #ffffff; }
          @media screen and (max-width: 767px) {
            .schedule-details {
              margin-top: 30px; } }
          .schedule-details .schedule-tile-wrapper {
            position: absolute;
            right: 0px;
            top: -55px; }
            @media screen and (max-width: 767px) {
              .schedule-details .schedule-tile-wrapper {
                top: -45px; } }
            .schedule-details .schedule-tile-wrapper button {
              width: 100px;
              height: 55px;
              border: 0px;
              color: #ffffff;
              font-size: 16px;
              font-weight: bold;
              cursor: pointer; }
              @media screen and (max-width: 767px) {
                .schedule-details .schedule-tile-wrapper button {
                  width: 75px;
                  height: 45px; } }
              .schedule-details .schedule-tile-wrapper button:focus {
                outline: none; }
          .schedule-details .schedule-wrapper {
            list-style-type: none; }
            .schedule-details .schedule-wrapper .schedule-list-item-wrapper {
              border-bottom: 1px solid #ffffff; }
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child {
                padding: 25px 0px 25px 35px; }
                @media screen and (max-width: 767px) {
                  .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child {
                    padding: 10px 0px 10px 15px; } }
                .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h1 {
                  font-size: 18px; }
                  @media screen and (max-width: 767px) {
                    .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h1 {
                      font-size: 16px; } }
                .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h2 {
                  margin-top: 5px;
                  font-size: 16px;
                  font-weight: 400; }
                  @media screen and (max-width: 767px) {
                    .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h2 {
                      font-size: 14px; } }
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table {
                display: table;
                font-size: 14px;
                padding: 10px 0px; }
                @media screen and (max-width: 767px) {
                  .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table {
                    font-size: 12px; } }
                .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row {
                  display: table-row; }
                  .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .topic {
                    padding: 10px 35px 10px 35px !important; }
                    @media screen and (max-width: 767px) {
                      .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .topic {
                        padding: 10px 15px 10px 15px !important; } }
                  .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .time {
                    width: 100px; }
                    @media screen and (max-width: 767px) {
                      .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .time {
                        min-width: 75px; } }
                  .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell {
                    display: table-cell;
                    font-weight: 400;
                    padding: 10px 0px 10px 35px;
                    line-height: 1.5;
                    word-spacing: 3px;
                    text-transform: uppercase; }
                    @media screen and (max-width: 767px) {
                      .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell {
                        padding: 10px 0px 10px 15px; } }
                    .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper {
                      margin-top: 2.5px;
                      margin-right: -1px; }
                      .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper div {
                        margin-right: 5px;
                        display: inline-block; }
                      .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper .presenter-icon {
                        font-size: 12px;
                        font-weight: bold; }
                      .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper .presenter-name {
                        font-size: 13px;
                        font-weight: 100;
                        text-transform: capitalize; }
                        .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper .presenter-name::after {
                          content: ","; }
                        .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper .presenter-name:last-child::after {
                          content: " "; }
                    @media screen and (max-width: 767px) {
                      .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .hall {
                        display: none; } }
                    @media screen and (max-width: 767px) {
                      .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell:first-child {
                        min-width: 75px; } }
            .schedule-details .schedule-wrapper .schedule-footer {
              text-align: center;
              padding: 20px 0px;
              font-size: 18px;
              text-transform: uppercase;
              color: #FFE06E;
              font-weight: 300; }
              @media screen and (max-width: 767px) {
                .schedule-details .schedule-wrapper .schedule-footer {
                  font-size: 16px; } }
        
        .yellow {
          background: #ECAF60; }
        
        .violet {
          background: #794383; }
        
        .footer-property {
          color: #FFE06E;
          font-weight: 600 !important; }
        
        .allspark-location {
          margin-left: 10px; }
        
        .dummy {
          text-align: center;
          padding: 10px 0px;
          font-size: 16px; }
          @media screen and (max-width: 767px) {
            .dummy {
              font-size: 14px; } }
        
        .allspark-yellow {
          color: #FFE06E; }
        
        /*# sourceMappingURL=schedule.css.map */
        e-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row {
          display: table-row; }
          .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .topic {
            padding: 10px 35px 10px 35px !important; }
            @media screen and (max-width: 767px) {
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .topic {
                padding: 10px 15px 10px 15px !important; } }
          .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .time {
            width: 100px; }
            @media screen and (max-width: 767px) {
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .time {
                min-width: 75px; } }
          .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell {
            display: table-cell;
            font-weight: 400;
            padding: 10px 0px 10px 35px;
            line-height: 1.5;
            word-spacing: 3px;
            text-transform: uppercase; }
            @media screen and (max-width: 767px) {
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell {
                padding: 10px 0px 10px 15px; } }
            .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper {
              margin-top: 2.5px;
              margin-right: -1px; }
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper div {
                margin-right: 5px;
                display: inline-block; }
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper .presenter-icon {
                font-size: 12px;
                font-weight: bold; }
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper .presenter-name {
                font-size: 13px;
                font-weight: 100;
                text-transform: capitalize; }
                .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper .presenter-name::after {
                  content: ","; }
                .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .presenter-wrapper .presenter-name:last-child::after {
                  content: " "; }
            @media screen and (max-width: 767px) {
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell .hall {
                display: none; } }
            @media screen and (max-width: 767px) {
              .schedule-details .schedule-wrapper .schedule-list-item-wrapper .schedule-table .schedule-row .schedule-cell:first-child {
                min-width: 75px; } }
    .schedule-details .schedule-wrapper .schedule-footer {
      text-align: center;
      padding: 20px 0px;
      font-size: 18px;
      text-transform: uppercase;
      color: #FFE06E;
      font-weight: 300; }
      @media screen and (max-width: 767px) {
        .schedule-details .schedule-wrapper .schedule-footer {
          font-size: 16px; } }

.yellow {
  background: #ECAF60; }

.violet {
  background: #794383; }

.footer-property {
  color: #FFE06E;
  font-weight: 600 !important; }

.allspark-location {
  margin-left: 10px; }

.dummy {
  text-align: center;
  padding: 10px 0px;
  font-size: 16px; }
  @media screen and (max-width: 767px) {
    .dummy {
      font-size: 14px; } }

.allspark-yellow {
  color: #FFE06E; }

/*# sourceMappingURL=schedule.css.map */
