$black-font-color       : #222222;
$white-color            : #ffffff;


$allspark-red           : #E20250;
$allspark-blue          : #039EDF;
$allspark-green         : #0BA35A;
$allspark-orange        : #F19401;


$theme-red           : #E20250;
$theme-blue          : #039EDF;
$theme-green         : #0BA35A;
$theme-orange        : #F19401;

$mobile                 : 500px;
$tablet: 800px;

.allspark-red{
    background: $allspark-red;
    .room-box, .presenters{
        color: $allspark-red;
    }
}

.allspark-blue{
    background: $allspark-blue;
    .room-box, .presenters{
        color: $allspark-blue;
    }
}

.allspark-green{
    background: $allspark-green ;
    .room-box, .presenters{
        color: $allspark-green;
    }
}

.allspark-orange{
    background: $allspark-orange;
    .room-box, .presenters{
        color: $allspark-orange;
    }
}