//BEGIN :: Font stack
$fontRobotoCondensed                    : 'Roboto Condensed', sans-serif;
//END :: Font stack

//BEGIN :: Color Coding
$colorDullPink                          : #D15970;
$colorPurple                            : #6A3F85;
$colorWhite                             : #ffffff;
$colorLightRed                          : #ffe3e3;
$colorLightYellow                       : #ffe0aa;
$colorDarkRed                           : #c53a3a;
//END :: Color Coding



