//BEGIN :: Import of partials and commons
@import '../../styles/scss/reset';
@import '../../styles/scss/variables';
@import '../../styles/scss/mixins';
@import '../../styles/scss/commons';
//END :: Import of partials and commons

/** BEGIN :: Variables **/
$animationDelay : 1.5s;
/** END :: Variables **/
/** BEGIN :: Keyframes **/
@keyframes animateLogo {
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animateTrail {
    100% {
        left: 10px;
        top: 0;
    }
}
@keyframes animateRocket {
    0% {
        transform: rotate(20deg);
    }
    100% {
        left: 150px;
        top: -40px;
    }
}
@keyframes animateSparks {
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        top: -10px;
        right: -30px;
    }
}
@media screen and (max-width: $mobileWidth) {
    @keyframes animateRocket {
        0% {
            transform: rotate(20deg);
        }
        100% {
            left: 65px;
            top: -20px;
        }
    }
    @keyframes animateSparks {
        80% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            top: -5px;
            right: -15px;
        }
    }
}
/** END :: Keyframes **/

.home-section {
    font-family: $fontCenturyGothic;
    position: relative;
    z-index: -1;
    height: 100vh;
    overflow: hidden;

    .home-section__illustration {
        text-align: right;
    
        img {
            width: 85%;

            @media screen and (max-width: $desktopSmallWidth) {
                width: 70%;
            }
            @media screen and (max-width: $tabWidth) {
                width: 95%;
            }
        }
    }
    .home-section__content {
        position: absolute;
        width: 30%;

        @media screen and (min-width: $tabWidth) {
            top: 30%;
            left: 10%;
        }
        @media screen and (max-width: $tabWidth) {
            width: 90%;
        }
        .content__heading {
            font-size: 36px;
            margin-bottom: 20px;

            @media screen and (max-width: $mobileWidth) {
                margin-bottom: 10px;
                font-size: 24px;
            }
        }
        .content__hashtags {
            font-size: 20px;

            li {
                display: inline;
            }
            @media screen and (max-width: $mobileWidth) {
                font-size: 14px;
            }
        }
        @media screen and (max-width: $tabWidth) {
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
    .home-section__logo {
        position: absolute;
        bottom: 15%;
        left: 10%;
        display: flex;
        align-items: flex-end;
        opacity: 0;
        animation-name: animateLogo;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-fill-mode: forwards; 
        animation-timing-function: ease-in-out;

        @media screen and (max-width: $tabWidth) {
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
        .logo__initial {
            position: relative;
            margin-bottom: 30px;

            @media screen and (max-width: $mobileWidth) {
                margin-bottom: 12px;
            }
            .logo__trail, .logo__rocket, .logo__sparks {
                position: absolute;
            }
            .logo__triangle {
                position: relative;
                left: 0;

                img {
                    height: 150px;

                    @media screen and (max-width: $mobileWidth) {
                        height: 65px;
                    }
                }
            }
            .logo__trail {
                display: none;
                left: -800px;
                top: 1000px;

                img {
                    width: 150px;
                    @media screen and (max-width: $mobileWidth) {
                        width: 60px;
                    }
                }
                &.animation {
                    animation-name: animateTrail;
                    animation-delay: $animationDelay;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;    
                } 
            }    
            .logo__rocket {
                display: none;
                left: -800px;
                top: 1000px;

                img {
                    height: 60px;

                    @media screen and (max-width: $mobileWidth) {
                        height: 30px;
                    }
                }
                &.animation {
                    animation-name: animateRocket;
                    animation-delay: $animationDelay;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;    
                } 
            }
            .logo__sparks {
                opacity: 0;
                opacity: 0;
                right: 100px;
                top: 100px;

                img {
                    height: 80px;

                    @media screen and (max-width: $mobileWidth) {
                        height: 35px;
                    }
                }
                &.animation {
                    animation-name: animateSparks;
                    animation-delay: $animationDelay;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;    
                } 
            }
        }
        .logo__text {
            margin-left: 20px;

            @media screen and (max-width: $mobileWidth) {
                margin-left: 5px;
            }
            img {
                height: 120px;

                @media screen and (max-width: $mobileWidth) {
                    height: 50px;
                }
            }
        }
    }
}



