* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font: inherit; }

ul li {
  list-style: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-fix {
  clear: both; }

.display-block {
  display: block; }

.display-none {
  display: none; }

/** BEGIN :: Variables **/
/** END :: Variables **/
/** BEGIN :: Keyframes **/
@keyframes animateLogo {
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }
@keyframes animateTrail {
  100% {
    left: 10px;
    top: 0; } }
@keyframes animateRocket {
  0% {
    transform: rotate(20deg); }
  100% {
    left: 150px;
    top: -40px; } }
@keyframes animateSparks {
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    top: -10px;
    right: -30px; } }
@media screen and (max-width: 420px) {
  @keyframes animateRocket {
    0% {
      transform: rotate(20deg); }
    100% {
      left: 65px;
      top: -20px; } }
  @keyframes animateSparks {
    80% {
      opacity: 0.5; }
    100% {
      opacity: 1;
      top: -5px;
      right: -15px; } } }
/** END :: Keyframes **/
.home-section {
  font-family: "Century Gothic";
  position: relative;
  z-index: -1;
  height: 100vh;
  overflow: hidden; }
  .home-section .home-section__illustration {
    text-align: right; }
    .home-section .home-section__illustration img {
      width: 85%; }
      @media screen and (max-width: 1290px) {
        .home-section .home-section__illustration img {
          width: 70%; } }
      @media screen and (max-width: 1024px) {
        .home-section .home-section__illustration img {
          width: 95%; } }
  .home-section .home-section__content {
    position: absolute;
    width: 30%; }
    @media screen and (min-width: 1024px) {
      .home-section .home-section__content {
        top: 30%;
        left: 10%; } }
    @media screen and (max-width: 1024px) {
      .home-section .home-section__content {
        width: 90%; } }
    .home-section .home-section__content .content__heading {
      font-size: 36px;
      margin-bottom: 20px; }
      @media screen and (max-width: 420px) {
        .home-section .home-section__content .content__heading {
          margin-bottom: 10px;
          font-size: 24px; } }
    .home-section .home-section__content .content__hashtags {
      font-size: 20px; }
      .home-section .home-section__content .content__hashtags li {
        display: inline; }
      @media screen and (max-width: 420px) {
        .home-section .home-section__content .content__hashtags {
          font-size: 14px; } }
    @media screen and (max-width: 1024px) {
      .home-section .home-section__content {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center; } }
  .home-section .home-section__logo {
    position: absolute;
    bottom: 15%;
    left: 10%;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    animation-name: animateLogo;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; }
    @media screen and (max-width: 1024px) {
      .home-section .home-section__logo {
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%); } }
    .home-section .home-section__logo .logo__initial {
      position: relative;
      margin-bottom: 30px; }
      @media screen and (max-width: 420px) {
        .home-section .home-section__logo .logo__initial {
          margin-bottom: 12px; } }
      .home-section .home-section__logo .logo__initial .logo__trail, .home-section .home-section__logo .logo__initial .logo__rocket, .home-section .home-section__logo .logo__initial .logo__sparks {
        position: absolute; }
      .home-section .home-section__logo .logo__initial .logo__triangle {
        position: relative;
        left: 0; }
        .home-section .home-section__logo .logo__initial .logo__triangle img {
          height: 150px; }
          @media screen and (max-width: 420px) {
            .home-section .home-section__logo .logo__initial .logo__triangle img {
              height: 65px; } }
      .home-section .home-section__logo .logo__initial .logo__trail {
        display: none;
        left: -800px;
        top: 1000px; }
        .home-section .home-section__logo .logo__initial .logo__trail img {
          width: 150px; }
          @media screen and (max-width: 420px) {
            .home-section .home-section__logo .logo__initial .logo__trail img {
              width: 60px; } }
        .home-section .home-section__logo .logo__initial .logo__trail.animation {
          animation-name: animateTrail;
          animation-delay: 1.5s;
          animation-duration: 1s;
          animation-fill-mode: forwards; }
      .home-section .home-section__logo .logo__initial .logo__rocket {
        display: none;
        left: -800px;
        top: 1000px; }
        .home-section .home-section__logo .logo__initial .logo__rocket img {
          height: 60px; }
          @media screen and (max-width: 420px) {
            .home-section .home-section__logo .logo__initial .logo__rocket img {
              height: 30px; } }
        .home-section .home-section__logo .logo__initial .logo__rocket.animation {
          animation-name: animateRocket;
          animation-delay: 1.5s;
          animation-duration: 1s;
          animation-fill-mode: forwards; }
      .home-section .home-section__logo .logo__initial .logo__sparks {
        opacity: 0;
        opacity: 0;
        right: 100px;
        top: 100px; }
        .home-section .home-section__logo .logo__initial .logo__sparks img {
          height: 80px; }
          @media screen and (max-width: 420px) {
            .home-section .home-section__logo .logo__initial .logo__sparks img {
              height: 35px; } }
        .home-section .home-section__logo .logo__initial .logo__sparks.animation {
          animation-name: animateSparks;
          animation-delay: 1.5s;
          animation-duration: 1.5s;
          animation-fill-mode: forwards; }
    .home-section .home-section__logo .logo__text {
      margin-left: 20px; }
      @media screen and (max-width: 420px) {
        .home-section .home-section__logo .logo__text {
          margin-left: 5px; } }
      .home-section .home-section__logo .logo__text img {
        height: 120px; }
        @media screen and (max-width: 420px) {
          .home-section .home-section__logo .logo__text img {
            height: 50px; } }

/*# sourceMappingURL=home.css.map */
