//BEGIN :: float styling
.float-left{
    float : left;
}
.float-right{
    float : right;
}
.clear-fix{
    clear : both;
}
//END :: float styling

//BEGIN :: display styling
.display-block{
    display : block; 
}
.display-none{
    display : none; 
}
//END :: display styling

.upper-case{
    text-transform : uppercase;
}

.color-yellow{
    color : $colorBrightYellow;
}
