//BEGIN :: Reset of default browser styles
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: inherit;
}
ul {
    li {
        list-style: none;
    }
}
//END :: Reset of default browser styles