//BEGIN :: Import of partials and commons
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'commons';
//END :: Import of Partials and commons
 
//BEGIN :: Including section styling
//END :: Including section styling
#ie-content-wrapper{
    position : relative;
    overflow : auto;
    height : 100vh;

    .illustration-img-wrapper{
        width : 60%;

        img{
            width : 100%;
        }
    }
    .ie-content{
        margin-top : 150px;
        text-align : center;
        font-family : $fontCenturyGothic;
        font-size : 20px;
        img{
            display : inline-block;
            width : 30px;
            height : 30px;
            vertical-align : middle; 
        }
    }
    .allspark-logo-wrapper{
        position : absolute;
        bottom : 15%;
        left : 10%;
        width : 40%;

        img{
            width : 100%;
        } 
    }
}

//BEGIN :: home section styling
/** BEGIN :: Variables **/
$animationDelay : 1.5s;
/** END :: Variables **/
/** BEGIN :: Keyframes **/
@keyframes animateLogo {
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animateTrail {
    100% {
        left: 10px;
        top: 0;
    }
}
@keyframes animateRocket {
    0% {
        transform: rotate(20deg);
    }
    100% {
        left: 150px;
        top: -40px;
    }
}
@keyframes animateSparks {
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        top: -10px;
        right: -30px;
    }
}
@media screen and (max-width:$mobileLandscapeBreakpoint ) {
    @keyframes animateRocket {
        0% {
            transform: rotate(20deg);
        }
        100% {
            left: 65px;
            top: -20px;
        }
    }
    @keyframes animateSparks {
        80% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            top: -5px;
            right: -15px;
        }
    }
}
@media screen and (width: $ipadWidth ) {
    @keyframes animateRocket {
        0% {
            transform: rotate(20deg);
        }
        100% {
            left: 150px;
            top: -40px;
        }
    }
    @keyframes animateSparks {
        80% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            top: -10px;
            right: -30px;
        }
    }
}
/** END :: Keyframes **/

.home-section {
    font-family: $fontCenturyGothic;
    position: relative;
    z-index: -1;
    height: 100vh;
    overflow: hidden;

    .home-section__illustration {
        text-align: right;
    
        img {
            width: 85%;

            @media screen and (max-width: $desktopSmallWidth) {
                width: 70%;
            }
            @media screen and (max-width: $tabWidth) {
                width: 95%;
            }
            @media screen and (max-width: $mobileLandscapeBreakpoint) {
                width: 45%;
            }
            @media screen and (width: $ipadWidth) {
                width: 95%;
            }
            @media screen and (max-width: $mobileWidth) {
                width: 95%;
            }
        }
    }
    .home-section__content {
        position: absolute;
        width: 30%;

        .content__heading {
            font-size: 36px;
            margin-bottom: 20px;

            @media screen and (max-width: $mobileLandscapeBreakpoint ) {
                margin-bottom: 10px;
                font-size: 24px;
            }
        }
        .content__hashtags {
            font-size: 20px;

            li {
                display: inline;
            }
            @media screen and (max-width: $mobileLandscapeBreakpoint) {
                font-size: 14px;
            }
        }
        @media screen and (min-width: $tabWidth) {
            top: 30%;
            left: 10%;
        }
        @media screen and (max-width: $tabWidth) {
            top: 50%;
            left: 50%;
            width: 90%;
            transform: translateX(-50%);
            text-align: center;
        }
        @media screen and (width: $tabWidth) and (orientation: landscape) {
            display: none;
        }
        @media screen and (max-width: $mobileLandscapeBreakpoint) {
            top: 20%;
            left: 10%;
            width: 50%;
            transform: translateX(0);
            text-align: left;
        }
        @media screen and (width: $ipadWidth) {
            top: 50%;
            left: 50%;
            width: 90%;
            transform: translateX(-50%);
            text-align: center;
        }
        @media screen and (width: $iphoneSELandscapeWidth ) and (orientation: landscape) {
            top: 15%;
        }
        @media screen and (max-width:$mobileWidth) {
            top: 38%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
    .home-section__logo {
        position: absolute;
        bottom: 15%;
        left: 10%;
        display: flex;
        align-items: flex-end;
        opacity: 0;
        animation-name: animateLogo;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-fill-mode: forwards; 
        animation-timing-function: ease-in-out;

        .logo__initial {
            position: relative;
            margin-bottom: 30px;

            @media screen and (max-width: $mobileLandscapeBreakpoint ) {
                margin-bottom: 12px;
            }
            @media screen and (width: $ipadWidth ) {
                margin-bottom: 30px;
            }
            .logo__trail, .logo__rocket, .logo__sparks {
                position: absolute;
            }
            .logo__triangle {
                position: relative;
                left: 0;

                img {
                    height: 150px;

                    @media screen and (max-width: $mobileLandscapeBreakpoint ) {
                        height: 65px;
                    }
                    @media screen and (width: $ipadWidth) {
                        height: 150px;
                    }
                }
            }
            .logo__trail {
                display: none;
                left: -800px;
                top: 1000px;

                img {
                    width: 150px;

                    @media screen and (max-width: $mobileLandscapeBreakpoint ) {
                        width: 60px;
                    }
                    @media screen and (width: $ipadWidth) {
                        width: 150px;
                    }
                }
                &.animation {
                    animation-name: animateTrail;
                    animation-delay: $animationDelay;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;    
                } 
            }    
            .logo__rocket {
                display: none;
                left: -800px;
                top: 1000px;

                img {
                    height: 60px;

                    @media screen and (max-width: $mobileLandscapeBreakpoint ) {
                        height: 30px;
                    }
                    @media screen and (width: $ipadWidth) {
                        height: 60px;
                    }
                }
                &.animation {
                    animation-name: animateRocket;
                    animation-delay: $animationDelay;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;    
                } 
            }
            .logo__sparks {
                opacity: 0;
                opacity: 0;
                right: 100px;
                top: 100px;

                img {
                    height: 80px;

                    @media screen and (max-width: $mobileLandscapeBreakpoint ) {
                        height: 35px;
                    }
                    @media screen and (width: $ipadWidth) {
                        height: 80px;
                    }
                }
                &.animation {
                    animation-name: animateSparks;
                    animation-delay: $animationDelay;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;    
                } 
            }
        }
        .logo__text {
            margin-left: 20px;

            @media screen and (max-width: $mobileLandscapeBreakpoint ) {
                margin-left: 5px;
            }
            img {
                height: 120px;

                @media screen and (max-width: $mobileLandscapeBreakpoint ) {
                    height: 50px;
                }
                @media screen and (width: $ipadWidth ) {
                    height: 120px;
                }
            }
        }
        @media screen  and (min-width: $mobileLandscapeBreakpoint) and (max-width: $tabWidth) {
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
        @media screen and (width: $ipadWidth)  {
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
        @media screen and (max-width: $mobileWidth) {
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
//END :: home section styling

//BEGIN :: sessions section properties
.sessions-section {
	position: relative;
	
	@media screen and (max-width : $mobileBreakPoint) {
			    font-size: 14px;
	}			    

    .sessions-row {
    	@media screen and (max-width : $mobileBreakPoint) {
			    display: block;
		}
    	display: flex;
    	//Split session section into two columns
    	.sessions-column {
    		//Responsive properties for mobile display
    		@media screen and (max-width : $mobileBreakPoint) {
			    width: 100%;
			    padding: 10% 7%;
			}
			font-family: $fontCenturyGothic;
			width: 50%;
			padding: 6% 7%;
			color: $colorWhite;
			.sessions-header {
				@media screen and (max-width : $mobileBreakPoint) {
					font-size: 24px;
					line-height: 24px;
                }
                @media screen and (max-width: $mobileLandscapeBreakpoint) {
                    font-size : 30px;
                }
				line-height: 32px;
				font-size: 40px;
				text-transform: capitalize; 
                letter-spacing: 1px;                
            }
            .session-location{
                font-family: $fontCenturyGothic;
                text-transform: capitalize;
                font-size: 18px;
                line-height: 18px; 
                color: $colorBrightYellow;
                padding-top: 10px;
                letter-spacing: .5px;  
                @media screen and (max-width : $mobileBreakPoint) {
					font-size: 14px;
					line-height: 14px;
                }
            }
			//Sessions Body - Properties
			.sessions-body {
				@media screen and (max-width : $mobileBreakPoint) {
			    	font-size: 14px;
				}
			  	padding: 6% 0;
			  	font-size: 18px;
			  	line-height: 30px;
			}
			//Sessions section - button styles
			.session-btn {
				  @media screen and (max-width : $mobileBreakPoint) {
			    	font-size: 14px;
				  }
				  outline: none;
				  border: none;
   				  padding: 3% 4.5%;
				  font-size: 18px;
				  text-transform: uppercase;
				  font-weight: 600;
				  letter-spacing: 1px;
				  background: $colorDullYellow;
				  color: $colorWhite;
				  cursor: pointer;
				  overflow: hidden;
				  -webkit-transition: border-color 0.3s, color 0.3s;
				  transition: border-color 0.3s, color 0.3s;
				  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
				  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
				  position: relative;
				  z-index: 1;
				  cursor: pointer;
				  -webkit-backface-visibility: hidden;
				  -moz-osx-font-smoothing: grayscale;
			}
			.session-btn::before {
			    content: '';
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 150%;
			    height: 100%;
			    z-index: -1;
			    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
			    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
			    -webkit-transform-origin: 0% 100%;
			    transform-origin: 0% 100%;
			    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
			    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
			}
			.session-btn:hover::before {
				  opacity: 1;
				  -webkit-transform: rotate3d(0, 0, 1, 0deg);
				  transform: rotate3d(0, 0, 1, 0deg);
				  background: $colorDarkYellow;
				  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
				  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			}
    	}
    	.tech-talks {
		 	background: $colorDarkPurple;
		}
		.solutions-space {
		  	background: $colorLightPurple;
		}
    }
}
//END :: sessions section properties

//BEGIN :: guests section styling
.guests-section .guests-container  {
    font-family: $fontRobotoCondensed;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    overflow: none;
    .card {
        height: auto;
        width: 15%;
        margin-right: 0;
        img {
            width: 100%;
            height: auto;
            text-align: center;
        }
        .color-line {
            width: 100%;
            height: 10px;
            margin-top : -4px;
            padding-left: 20px;
        }
        .first-name, .last-name {
            font-size: 20px;
            font-weight: 900;
            color: $colorLightPurple;    
        }
        .first-name {
            margin-top: 10px;
        }
        .last-name {
            margin-top: 0px;
            line-height: 20px;
        }
        .designation, .description  {
            font-size: 14px;
            color: $colorDullPink;
            width: 100%;
            margin-top: 5px;
        }
        .description  {
            color: black;
            display: none;
        }
        .purple {
            background-color: $colorLightPurple;
        }
        .dull-pink {
            background-color: $colorDullPink;
        }
        .bright-yellow {
            background-color: $colorBrightYellow;
        }
        .dark-yellow {
            background-color: $colorDarkYellow;
        }
    }
    .mobile-clear-fix {
        display: none;
        clear: both;
    }
}

 @media screen and (max-width : $mobileBreakPoint) {
    .guests-section .guests-container{
        display: block;
        justify-content: unset;
        overflow: auto;
        .card {
            margin-bottom: 10px;
        }
        .card:nth-child(odd){
            width: 45%;
            float: left;
            clear: both;
   
        }
        .card:nth-child(even){
            width: 45%;
            float: right;
           
         }
    }
 }
//END :: guests section styling

//BEGIN :: schedule-section properties
.schedule-section{
    width: 100%;
    font-family: $fontCenturyGothic;
    .schedule-img-wrapper{
        width: 60%;
        margin : 0 auto;
        img{
            width: 100%;
            height: auto;
        }
        @media screen and (max-width:$mobileBreakPoint){
            width : 80%;
        }
    }
}

//schedule-header properties
.schedule-header{
    height: 100px;
    text-align: center;
    padding:25px 0px;
    font-size: 18px;
    color : $colorLightPurple;
}

//schedule-details properties
.schedule-details{
    @media screen and (max-width:$mobileBreakPoint){
        margin-top : 30px;
    }
    width: 100%;
    //margin-top: 60px;
    margin-top:-8px;
    background: $colorLightPurple ;
    position: relative;
    font-family: $fontRobotoCondensed;
    color: $colorWhite;
    
    //schedule-tile properties
    .schedule-tile-wrapper{
        position: absolute;
        right: 0px;
        top: -55px;
        @media screen and (max-width:$mobileBreakPoint){
            top: -45px;
        }
        //button properties
        button{
            @media screen and (max-width:$mobileBreakPoint){
                width: 75px;
                height: 45px;
            }
            width: 100px;
            height: 55px;
            border: 0px;
            color: $colorWhite;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            &:focus{
                outline: none;
            }
            &:hover {
                //hover animation  to be added
            }   
        }
        
    }

    //schedule properties
    .schedule-wrapper{
        list-style-type: none;
        //list properties
       .schedule-list-item-wrapper{
            border-bottom: 1px solid $colorWhite;
           // width: 100%;
            &:first-child{
                padding: 25px 0px 25px 35px; 
                @media screen and (max-width:$mobileBreakPoint){
                    padding: 20px 0px 20px 15px;
                }
                h1{
                    font-size: 26px;
                    letter-spacing: .5px;
                    //color : $colorBrightYellow;
                    @media screen and (max-width:$mobileBreakPoint){
                        font-size: 20px;
                    }
                }
                h2{
                    margin-top: 5px;
                    font-size: 20px;
                    letter-spacing: .5px;
                    @media screen and (max-width:$mobileBreakPoint){
                        font-size: 14px;
                    }
                    //font-weight: 400;
                }
    
            }
            .schedule-table{
                display: table;
              //  width: 100%;
                font-size: 14px;
                @media screen and (max-width:$mobileBreakPoint){
                    font-size: 12px;
                }
                padding: 10px 0px; 

                .schedule-row{
                  //  width: 100%;
                    display : table-row;
                    .topic{
                       // width: 95%;
                       font-size: 18px;
                        padding: 10px 35px 10px 35px !important;
                        @media screen and (max-width:$mobileBreakPoint){
                               //width: 90%;
                               font-size: 16px;
                                padding: 10px 15px 10px 15px !important;
                        }
                    }
                    .time{
                        width: 120px;
                        font-size: 18px;
                        @media screen and (max-width:$mobileBreakPoint){
                            min-width: 75px;
                            width: 100px;
                            font-size: 16px;
                        }
                      }
                   
                    .schedule-cell{
                        display: table-cell;
                        font-weight: 400;
                        padding: 10px 0px 10px 35px;
                        line-height: 1.5;
                        letter-spacing: 1px;
                        @media screen and (max-width:$mobileBreakPoint){
                            padding: 10px 0px 10px 15px;
                        }
                       
                        .topic-desc{
                            font-family : $fontRobotoCondensed;
                            font-size : 14px;
                            font-weight : 300; 
                            text-transform : none; 
                            line-height : 1.6;
                            padding : 10px 0;
                        }
                        .presenter-wrapper{
                            margin-top: 2.5px;
                            margin-right: -1px;
                            //font-family: $fontCenturyGothic;
                            div{
                                margin-right: 5px;
                                display: inline-block;
                              //  vertical-align: bottom;
                            }
                            .presenter-icon{
                                font-size: 12px;
                                font-weight: bold;
                            }
                            .presenter-name{
                                font-size: 14px;
                                font-weight: 100;
                               // font-family: $fontCenturyGothic;
                               
                                text-transform: capitalize;
                                &::after{
                                    content: ","
                                }
                                &:last-child{
                                    &::after{
                                        content: " "
                                    }
                                }
                            }

                        }

                       
                        .hall{
                            @media screen and (max-width:$mobileBreakPoint){
                                display: none;
                            }
                        }
                        &:first-child{
                            @media screen and (max-width:$mobileBreakPoint){
                                min-width: 75px;

                            }
                        }
                    }
                }
            }

        }
        //schedule-footer properties
        .schedule-footer{
            text-align: center;
            padding: 20px 0px;
            font-size: 18px;
            @media screen and (max-width:$mobileBreakPoint){
                font-size: 16px;
            }
            text-transform: uppercase;
            color: $colorBrightYellow;
            font-weight: 300;
        }
           
    }
}

//yellow - background properties
.yellow{
    background: $colorDullYellow ;
}

//violet - background properties
.violet{
    background: $colorLightPurple;
}

//footer property
.footer-property{
    color : $colorBrightYellow;
    font-weight: 600 !important;
}
//allspark location properties
.allspark-location{
    margin-left: 10px;
}

.dummy{
    text-align: center;
    padding: 10px 0px;
    font-size: 16px;
    @media screen and (max-width:$mobileBreakPoint){
        font-size: 14px;
    }
}

.allspark-yellow{
    color: $colorBrightYellow;
}
//END :: schedule-section properties

//BEGIN :: Timer-section properties
.timer-section{
           
    font-family: $fontRobotoCondensed;

    .timer-container{
        text-align: center;
        margin-bottom: 50px;

        div{
            display: inline-block;
        }

        .time{
            font-size : 15vw;
        }

        .suffix{
            font-size: 3vw;
            padding-right: 5%;
            @media screen and (max-width:$mobileBreakPoint){
                padding-right: 4%;
            }
        }

        .days{
            color: $colorPurple;
        }

        .hours{
            color: $colorDarkYellow;
        }

        .mins{
            color: $colorDullPink;
        }

        .secs{
            color: $colorBrightYellow;
            padding-right: 0;
        }

        .hash-tag-symb,.hash-tag-allspark,.hash-tag-tx{
            margin-top: 70px;
            font-size : 12vw; 
            @media screen and (max-width:$mobileBreakPoint){
                margin-top: 40px;
            } 
        }

        .hash-tag-symb{
            color: $colorDullYellow;
        }

        .hash-tag-allspark{
            color: $colorDarkPurple; 
        }

        .hash-tag-tx{
            color: $colorDullPink;
        }
        @media screen and (max-width:$mobileBreakPoint){
            margin-bottom: 30px;
        }
    }
    
}
//END :: Timer-section properties

//BEGIN :: AllSpark website styling
.allspark-main-wrapper{
    .align-center{
        @include setCentre(86%);
    }
    .section-heading{
        color : $colorPurple;
        font-family : $fontCenturyGothic; 
        font-size : 60px;
        text-align : center; 
        padding : 90px 0;
        @media screen and (max-width : $mobileBreakPoint){
            font-size : 30px;
            padding : 30px;
        }
    }
    //BEGIN :: AllSpark coming soon section styling
    .allspark-logo-wrapper{
        position : fixed;
        top : 30%;
        left : 50%;
        transform : translate(-50%, -30%);
        width : 60%;
        margin : 0 auto;

        img{
            width : 100%;
            height : auto;
        }
        .previous-allspark-link-wrapper{
            display : flex;
            margin : 15px 0;
            div{
                background : $colorPurple;
                padding : 10px 30px;
                border-radius : 30px;
                cursor : pointer;
                font-family : $fontRobotoCondensed; 
                a{  
                    color : $colorWhite;
                    text-decoration : none; 
                }
                @media screen and (max-width : $mobileBreakPoint) {
                    padding : 7px 10px;
                    font-size : 10px;
                }
            }
            div:first-child{
                margin-right : 15px;
                @media screen and (max-width : $mobileBreakPoint) {
                    margin-right : 5px;
                }
            }
            @media screen and (max-width : $mobileBreakPoint) {
                margin : 10px 0;
            }
        }
        @media screen and (max-width : $mobileBreakPoint) {
            width : 70%;
        }
    }
    //END :: AllSpark coming soon section styling

    
    //BEGIN :: Footer styling
    .footer-section{
        .footer-img-wrapper{
            width : 98%;
            img{
                width : 100%;
                height : auto; 
            }
            svg{
                display : block;
                width : 100%;
                height : auto;
            }
        }
        .footer-links-wrapper{
            display : flex;
            justify-content : space-between;
            align-items : center;
            padding : 20px 0;
            font-family : $fontRobotoCondensed;
            font-size : 18px;
            flex-wrap : wrap; 
            color : $colorPurple;
            text-align : center; 
            @media screen and (max-width : $mobileLandscapeBreakpoint) {
                //display : block;
                //width : 70px;
                margin : 0 auto;
                padding : 0;
                font-size : 14px;
                justify-content : center;
            }
        }
        .site-links-wrapper{
            li{
                display : inline-block;
                padding : 0 18px;
                a{
                    text-decoration : none; 
                    color : $colorPurple;
                }
                @media screen and (max-width : $mobileLandscapeBreakpoint) {
                    //display : block;
                    padding : 0 20px 15px 0;
                }
            }
            li:first-child{
                padding-left : 0;
            }
            @media screen and (max-width : $mobileLandscapeBreakpoint) {
                //display : block;
                padding-top : 15px;
            }
        }
        .social-links-wrapper{
            font-size : 16px;    
            a{
                width : 36px;
                height : 36px;
                padding : 8px;
                border-radius : 50%;
                font-size : 20px;
                text-align : center;
                text-decoration : none; 
                @media screen and (max-width : $mobileLandscapeBreakpoint) {
                    width : 26px;
                    height : 26px;
                    padding : 6px;
                    font-size : 14px;
                }
            }
            .fa-facebook{   
                margin-right : 10px;
                background : #365395;
                color : #ffffff;
            }
            .fa-twitter{
                background: #55ADF1;
                color: #ffffff;
            }
            @media screen and (max-width : $mobileLandscapeBreakpoint) {
                width : 100%;
                padding-bottom : 25px;
            }
        }
    }
    //END :: Footer styling

}
//END :: AllSpark website styling