@import '_variables';

.footer-section{
    height: 900px;
    overflow: hidden;
    position: relative;
    @media only screen and (max-width: 767px){
        padding: 0px;
    }

    >.footer-lines{
        position: absolute;
        width: 25%;
        right: -5%;
        bottom: -18%;
        @media only screen and (max-width: 767px){
            width: 180px;
            right: -45px;
        }
    }
  
    @media only screen and (max-width: 767px){
        height: 300px;
    }
    
    @media only screen and (max-width: 900px) and (min-width: 767px){
        height: 500px;
    }
    @media only screen and (max-width: 1000px) and (min-width: 900px){
        height: 550px;
    }
    @media only screen and (max-width: 1100px) and (min-width: 1000px){
        height: 600px;
    }
    @media only screen and (max-width: 1200px) and (min-width: 1100px){
        height: 650px;
    }
    @media only screen and (max-width: 1300px) and (min-width: 1200px){
        height: 700px;
    }
    @media only screen and (max-width: 1400px) and (min-width: 1300px){
        height: 750px;
    }
    @media only screen and (max-width: 1500px) and (min-width: 1400px){
        height: 800px;
    }
    .left-container{
        width: 45%;
        height: inherit;
        @media only screen and (max-width: 767px){
            width: 100%;
            float: none;
            position: absolute;
        }

        .wrapper{
            width: 100%;
            height: inherit;
            position: relative;

            .footer-lines{
                position: absolute;
                width: 52%;
                left: -19%;
                top: 13%;
                transform: rotate(-10deg);
                @media only screen and (max-width: 900px){
                    display: none;
                } 
            }
            
            .left-bg-wrapper{
                position: absolute;
                width:70%;
                bottom: -20px;
                @media only screen and (max-width: 900px) and (min-width: 767px){
                    bottom: -20%;
                    width: 100%;
                }
                @media only screen and (max-width: 767px){
                    display: none;
                }
                .footer-bulb{
                    width: 100%;
                }

            }
            .social-links-wrapper{
                position: absolute;
                bottom: 35px;
                right: 15%;
                @media only screen and (max-width: 767px){
                    left: 15px;
                }
             
                
                >*{
                    width: 65px;
                    height: 65px;
                    margin-left: 10px;
                    display: inline-block;
                    border-radius: 50%;
                    text-align: center;
                    text-decoration: none;
                    vertical-align: top;
                    @media only screen and (max-width: 1100px) and (max-width: 900px){
                    
                        width: 45px;
                        height: 45px;
                        margin-left: 5px;
                    }
                    
                }
                .facebook{
                    background: $facebook-blue;
                }
                .twitter{
                    background: $twitter-blue;
                }
                >div{
                    width: 20px;
                    height: 20px;
                    margin-top: 21%;
                    @media only screen and (max-width: 767px){
                        margin-top: 30px;
                    }
                    background: $secondary-grey-brown;
                }
                .font{
                    margin-top: 50% !important;
                    transform: translateY(-50%) !important;
                    font-size: 25px;
                    color: $theme-white;
                }
            }
            
        }
       

    }
    .right-container{
        width: 53%;
        height: inherit;
        position: relative;
        @media only screen and (max-width: 767px){
            width: 100%;
            height: auto;
        }
        .wrapper{
            width: 100%;
            height: inherit;
            position: relative;
            @media only screen and (max-width: 767px){
                padding: 10px;
            }
            .link-wrapper{
                position: absolute;
                width: 100%;
                height: inherit;
                @media only screen and (max-width: 767px){
                    text-align: center;
                    position: relative;
                }
                &>*{
                    border-radius: 50%;
                    border : 2px solid $theme-black;
                    position: absolute;
                }
                .timeline {
                    text-align: center;
                }
                .allspark19{
                    width: 16vw;
                    height: 16vw;
                    top: 15%;
                    right: 38vw;
                    font-size: 12vw;
                    background: $primary-blue;
                    opacity: 0;
                    img{
                        width: 70%;
                        padding-top: 25%;
                    }
                   
                }
                .allspark18{
                    width: 14vw;
                    height: 14vw;
                    top: 39%;
                    right: 26vw;
                    font-size: 7vw;
                    background: $secondary-grey-brown;
                    opacity: 0;
                    img{
                        width: 50%;
                        padding-top: 26%;
                    }
                }
                .allspark17{
                    width: 12vw;
                    height: 12vw;
                    top: 58%;
                    right: 15vw;
                    font-size: 5vw;
                    background: $primary-red;
                    opacity: 0;
                    a{
                        color:$theme-white !important;
                    }
                    img{
                        width: 50%;
                        padding-top: 28%;
                    }
                }
                .allspark16{
                    width: 10vw;
                    height: 10vw;
                    top: 49%;
                    right: 4vw;
                    font-size: 3vw;
                    background: $secondary-yellow;
                    opacity: 0;
                    img{
                        width: 60%;
                        padding-top: 25%;
                    }
                }
                .timeline{
                    cursor: pointer;
                    >div{
                        text-align: center;
                        transform: translatey(-50%);
                        margin-top: 50%;
                        font-family: 'Century Gothic';
                        font-weight: 100;
                        a{
                            text-decoration: none;
                            color: $theme-black;
                        }

                        .ref{
                            position: absolute;
                            font-size: 1.7vw;
                            background: $theme-black;
                            color: $theme-white;
                            font-family: $fontRobotoCondensed;
                            padding: 5px;
                            top: 6vw;
                            left: 4vw;
                            font-weight: 600;
                            @media only screen and (max-width: 767px){
                                font-size: 1.5vw;
                                padding: 2.5px;
                                top: 4vw;
                                left: 4vw;
                            }
                        }
                       
                    }
                    @media only screen and (max-width: 767px){
                        position: static;
                        width: 22vw;
                        height: 22vw;
                        font-size: 9vw;
                        display: inline-block;
                        border-color: transparent;
                        vertical-align: top;
                    }
                   
                }
                
            }
            .description{
                font-family: $fontCenturyGothic;
                position: absolute;
                bottom: 35px;
                font-size: 35px;
               
                @media only screen and (max-width: 767px){
                    position: relative;
                    font-size: 15px;
                    bottom: 0px;
                    text-align: center;
                    margin-top: 15px;
                }
                @media only screen and (max-width: 900px) and (min-width: 767px){
                    font-size: 22px;
                }
            
                @media only screen and (max-width: 1200px) and (min-width: 900px){
                    font-size: 25px;
                }
               
            }  
            
        }
    }
    &.in-view {

        .allspark16,.allspark17,.allspark18,.allspark19{
          opacity: 1 !important;
        }
      
        .allspark19 {
          transition: opacity 250ms linear 1.1s;
        }
      
        .allspark18 {
          transition: opacity 250ms linear 0.8s;
        }
      
        .allspark17 {
          transition: opacity 250ms linear 0.5s;
        }
      
        .allspark16 {
          transition: opacity 250ms linear 0.2s;
        }
    }
    
}



