.home-section{
    position: relative;

    .home-desktop{
        @media only screen and (max-width: 960px){
            display: none;
        }
        .logo{
            @media only screen and (min-width: 1920px){
                width: 700px;
                bottom: 20%;
                top: auto;
                z-index: 0;
                svg{
                    width: 700px;
                }
            }

            @media only screen and (max-width: 1600px){
                width: 400px;
                top: 100px;
                z-index: 0;
                svg{
                    width: 400px;
                }
            }  
            @media only screen and (max-width: 1440px){
                width: 350px;
                top: 84px;
                z-index: 0;
                svg{
                    width: 350px;
                }
            }  
            @media only screen and (max-width: 1360px){
                width: 350px;
                top: 74px;
                z-index: 0;
                svg{
                    width: 350px;
                }
            } 
            @media only screen and (max-width: 1280px){
                width: 300px;
                top: 40px;
                z-index: 0;
                svg{
                    width: 300px;
                }
            }   
            @media only screen and (max-width: 1200px){
                width: 250px;
                top: -25px;
                z-index: 0;
                svg{
                    width: 250px;
                }
            }   
            @media only screen and (max-width: 1100px){
                width: 200px;
                top: -20px;
                z-index: 0;
                svg{
                    width: 200px;
                }
            }           
        }
        
    }
    .home-tablet{
        display: none;
        @media only screen and (max-width: 960px) {
            display: block;
        }

        @media only screen and (max-width: 467px) {
            display: none;
        }
    }
    .home-mobile{
        display: none;
        
        @media only screen and (max-width: 467px) {
            display: block;
        }
    }

    .home-illustration img{
        width: 100%;
        height: 100%;
        margin-top: -100px;
    }

    
    .logo{
        position: absolute;
        top: 170px;
        right:40px;
        width: 460px;
        height: 537px;
        z-index: -1;
    }
    #number-1{
        stroke-dasharray: 899.2000122070312px;
        stroke-dashoffset: 899.2000122070312px;
    }
    #number-9{
        stroke-dasharray: 1594.3433837890625px;
        stroke-dashoffset: 1594.3433837890625px;
        animation: number-9-animation 4s ease forwards 2s;
    }
    #rectangle{
        stroke-dasharray: 2558.5999755859375px;
        stroke-dashoffset: 2558.5999755859375px;
    }

    #letter-a1, #letter-a2{
        stroke-dasharray: 175.71658325195312px;
        stroke-dashoffset: 175.71658325195312px;
    }

    #letter-l1, #letter-l2{
        stroke-dasharray: 132px;
        stroke-dashoffset: 132px;
    }

    #letter-s{
        stroke-dasharray: 202.2511444091797px;
        stroke-dashoffset: 202.2511444091797px;
    }

    #letter-p{
        stroke-dasharray: 157.0147247314453px;
        stroke-dashoffset: 157.0147247314453px;
    }

    #letter-r{
        stroke-dasharray: 201.92425537109375px;
        stroke-dashoffset: 201.92425537109375px;
    }

    #letter-k{
        stroke-dasharray: 202.1638641357422px;
        stroke-dashoffset: 202.1638641357422px;
    }

    #star-1, #star-2{
        opacity: 0;
    }

    /* ---------  Animation Sequence -----------*/

    #number-1{
        animation: number-1-animation 4s ease forwards;
    }

    #number-9{
        animation: number-9-animation 4s ease forwards 1s;
    }

    #rectangle{
        animation: rectangle-animation 2s ease forwards 3s;
    }

    #letter-a1{
        animation: letter-animation 2s ease forwards 3.2s;
    }

    #letter-l1{
        animation: letter-animation 2s ease forwards 3.4s;
    }

    #letter-l2{
        animation: letter-animation 2s ease forwards 3.6s;
    }

    #letter-s{
        animation: letter-animation 2s ease forwards 3.8s;
    }

    #letter-p{
        animation: letter-animation 2s ease forwards 4s;
    }

    #letter-a2{
        animation: letter-animation 2s ease forwards 4.2s;
    }

    #letter-r{
        animation: letter-animation 2s ease forwards 4.4s;
    }

    #letter-k{
        animation: letter-animation 2s ease forwards 4.6s;
    }

    #star-1{
        animation: star-animation 2s ease forwards 4.8s;
    }

    #star-2{
        animation: star-animation 2s ease forwards 5s;
    }


    @keyframes number-1-animation{
        50%{
            stroke-dashoffset: 0;
            fill: transparent;
        }
        100%{
            stroke-dashoffset: 0;
            fill: #111;
        }
    }
    @keyframes number-9-animation{
        50%{
            stroke-dashoffset: 0;
            fill: transparent;
        }
        100%{
            stroke-dashoffset: 0;
            fill: #111;
        }
    }

    @keyframes rectangle-animation{
        from{
            fill: transparent;
        }
        to{
            fill: #111;
            stroke-dashoffset: 0;
        }
    }

    @keyframes letter-animation{
        50%{
            stroke-dashoffset: 0;
            fill: transparent;
        }
        100%{
            stroke-dashoffset: 0;
            fill: #fff;
        }
    }

    @keyframes star-animation{
        0%{
            opacity: 0
        }
        100%{
            opacity: 1;
        }
    }
}
  
