.schedule-section {
    width: 100%;
    overflow: hidden;
    padding: 0 $sectionPadding;
    @media screen and (max-width : $mobileBreakPoint) {
        padding: 0 $sectionPaddingMobile;
    }
    .schedule-left-section, .schedule-right-section {
        display: inline-block;
    }
    .schedule-left-section {
        width: 33%;
        vertical-align: top;
        .schedule-heading {
            margin-bottom: 30px;
        }
        .schedule-content {
            font-family: "Century Gothic", sans-serif; 
            color: rgb(38,144,177);
            font-size: 34px;
            font-weight: 100;
        }
        @media only screen and (max-width: 930px) and (min-width: 850px) {
            .schedule-content {
              font-size: 30px;
            }
          }
        @media only screen and (max-width: 849px) and (min-width: 1px) {
            .schedule-content {
                font-size: 28px;
            }
        }
      }
    .schedule-right-section {
        width: 66%;
        margin: 30px 0px 0 0px;
        transform: translateX(50%);
        transition: transform 2s;
        object {
            width: 100%;
            height: auto;
        }
    }
    // @media only screen and (max-width: 849px) and (min-width: 1px) {
    //     .schedule-left-section {
    //         width: 45%;
    //     }
    //     .schedule-right-section {
    //         width: 54%;     
    //     }
    // }
    @media only screen and (max-width: 797px){
        .schedule-left-section, .schedule-right-section {
            display: block;
            width: 100%;     
        }
    }
  } 
.schedule-scroll-effects {
    .schedule-right-section{
        transform: translateX(0px);
    }
}


.schedule-twenty-six {		
    animation: hideShowCalenderText 4s ease;		
}		
.schedule-twenty-seven {		
    animation: hideShowCalenderText 6s ease;		
}		
@keyframes hideShowCalenderText {		
    0% { opacity: 0; }		
    50% { opacity: 0; }		
    100% { opacity: 1; }		
}		