.sessions-section {
    width: 100%;
    overflow: hidden;
    padding: 0 $sectionPadding;
    .session-card {

        .session-content {
            color: $theme-black;
            width: 45%;

            @media only screen and (max-width: $mobileBreakPoint) {
                width: 100%;
            }

            .session-heading-left {
               text-align: left !important;
               padding-top: 16px;
            }

            .session-heading-right{
                text-align: right !important;
                padding-top: 16px;
            }

            .session-description {
                font-family: $fontCenturyGothic;
                font-size: 1.4vw;
                line-height: 1.5;
                padding-top: 15px;
                padding-bottom: 25px;

                @media only screen and (max-width: $mobileBreakPoint) {
                    font-size: 3.5vw;
                }
            }

            .session-date {
                display: inline-block;
                font-family: $fontRobotoCondensed;
                font-size: 2vw;
                font-weight: 600;
                color: $theme-white;
                padding: 0.8vw 2vw;

                @media only screen and (max-width: $mobileBreakPoint) {
                    font-size: 4vw;
                }
            }

            .tech-talks-color {
                background-color: $primary-blue;
            }

            .solutions-space-color {
                background-color: $primary-red;
            }
        }

        .text-align-right {
            text-align: right;
        }

        .text-align-left {
            text-align: left;
        }



        .session-image {
            width: 45%;
            height: auto;

            @media only screen and (max-width: $mobileBreakPoint) {
                width: 100%;
                padding: 0 3.5vw;
            }
        }

        .tech-talks-animation {
            transform: translateX(-50%);
        }

        .solutions-space-animation {
            transform: translateX(50%);
        }


    }
}

.session-in-view.session-card {
    .tech-talks-animation.session-image {
        transform: translateX(0);
        transition: transform 1s cubic-bezier(0.49, -0.09, 0.81, 1.24) 200ms;
    }

    .solutions-space-animation.session-image {
        transform: translateX(0);
        transition: transform 1s cubic-bezier(0.49, -0.09, 0.81, 1.24) 200ms;
    }
}