.timer-section{
  padding: 0 $sectionPadding;
  @media screen and (max-width : $mobileBreakPoint) {
      padding: 0 $sectionPaddingMobile;
  }
}
.timer-wrap {
  position: relative;
  font-family: 'Roboto Condensed';
  .display-none {
    display: none !important;
  }

  .yellow-ball {
    position: absolute;
    width: 16vw;
    height: 16vw;
    background: $secondary-yellow;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .timer-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 50px 0 10px 0;

    .units {
      font-size: 4vw;
    }

    .seconds-indicator {
      width: 6vw;

      .dot {
        opacity: 1;
        transition: opacity 300ms cubic-bezier(0.4, 0, 1, 1);
        margin: 0 0 1vw 0;
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
      }

      .visibility-hidden {
        opacity: 0;
      }

      #dot4 {
        background: $primary-red;
      }

      #dot3 {
        background: $secondary-yellow;
      }

      #dot2 {
        background: $secondary-grey-brown;
        margin-right: 1vw;
      }

      #dot1 {
        background: $theme-light-blue;
      }

      .flex-container {
        display: flex;
        align-items: baseline;
      }
    }

    .days-count {
      color: $primary-red;
      opacity: 0;
      .count {
        font-size: 30vw;
      }
    }

    .right-continer {
      padding-left: 4%;
      width: 40%;

      .absolute-wrap {
        position: relative;
      }

      .hour-count {
        transform: translateY(-78%);
        left: -5%;
        color: $theme-light-blue;
        position: absolute;
        opacity: 0;

        .count {
          font-size: 16vw;
        }
      }

      .bottom-container {
        display: flex;
        align-items: baseline;

        .minute-count {
          color: $secondary-grey-brown;
          opacity: 0;

          .count {
            font-size: 11vw;
          }
        }

        .seconds-count {
          padding-left: 4%;
          color: $theme-sandle-orange;
          opacity: 0;

          .count {
            font-size: 7vw;
          }
        }
      }
    }
  }

  .event-start-container,
  .event-end-container {
    display: flex;
    font-weight: 400;
    font-size: 12vw;
    justify-content: center;
    margin: 70px 0 30px 0;

    .hash-tag-symb {
      color: $theme-sandle-orange;
    }

    .hash-tag-allspark {
      color: $primary-blue;
    }

    .hash-tag-tx {
      color: $primary-red;
    }

    @media screen and (max-width:$mobileBreakPoint) {
      margin-top: 40px;
    }
  }

}

.timer-section.in-view {

  .days-count,
  .hour-count,
  .minute-count,
  .seconds-count {
    opacity: 1 !important;
  }

  .days-count {
    transition: opacity 150ms linear 0.2s;
  }

  .hour-count {
    transition: opacity 150ms linear 0.7s;
  }

  .minute-count {
    transition: opacity 150ms linear 1.2s;
  }

  .seconds-count {
    transition: opacity 150ms linear 1.7s;
  }
}