//BEGIN :: Import of partials and commons
@import '../../styles/scss/reset';
@import '../../styles/scss/variables';
@import '../../styles/scss/mixins';
@import '../../styles/scss/commons';
//END :: Import of partials and commons
*{
    margin : 0;
	padding : 0;
    box-sizing : border-box;
}
//Your scss code goes here uncomment and add your code below
.guests-section .guests-container  {
    font-family: $fontRobotoCondensed;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .card {
        height: auto;
        width: 18%;
        margin-right: 0;
        img {
            width: 100%;
            height: auto;
            text-align: center;
        }
        .color-line {
            width: 100%;
            height: 10px;
            margin-top : -4px;
            padding-left: 20px;
        }
        .first-name, .last-name {
            font-size: 20px;
            font-weight: 900;
            color: $colorLightPurple;    
        }
        .first-name {
            margin-top: 10px;
        }
        .last-name {
            margin-top: 0px;
            line-height: 20px;
        }
        .designation, .description  {
            font-size: 14px;
            color: $colorDullPink;
            width: 100%;
            margin-top: 5px;
        }
        .description  {
            color: black;
            display: none;
        }
        .purple {
            background-color: $colorLightPurple;
        }
        .dull-pink {
            background-color: $colorDullPink;
        }
        .bright-yellow {
            background-color: $colorBrightYellow;
        }
        .dark-yellow {
            background-color: $colorDarkYellow;
        }
    }
    .card:nth-child(5){
        margin-right: -3%;
    }
    .mobile-clear-fix {
        display: none;
        clear: both;
    }
}

 @media screen and (max-width : $mobileBreakPoint) {
    .guests-section .guests-container{
        display: block;
        justify-content: unset;
        .card {
            margin-bottom: 10px;
        }
        .card:nth-child(odd){
            width: 45%;
            float: left;
            clear: both;
   
        }
        .card:nth-child(even){
            width: 45%;
            float: right;
           
         }
    }
 }